$color1: #000;
$color2: darkgray;
$color3: #864949;
$color4: rgba(240, 240, 240, 0.75);
$color5: #f7f7f7;

$text-header-h1: $color1;
$text-link-color: $color1;
$menu-action-color: $color2;
$menu-line-color: $color3;
$baner-apla: $color4;
$footer-background: $color5;
$icon-color: $color3;
$section-background: $color5;
$separator-color: $color3;
$shadow-color: $color3;

