@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
}
